/** Add css rules here for your application. */

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 40px 0px 70px;
  text-align: center;
}

.titleTable {
  background: #999;
  height: 50px;
  font-size: large;
  font-weight: bold;
}

.rowTable {
  text-align: left;
  border-top: 1px solid #999;
}

table
{
  border-collapse: collapse;
}